{{> header}}

<h2>Майбутня погода</h2>

<form action="/future-weather">
  <input type="text" name="city" placeholder="Введіть місто, наприклад (Kyiv)" required>

  <br><br>

  <input type="date" name="date" required>

  <br><br>

  <button type="submit">Переглянути</button>
</form>

<br>

<a href="/">⬅ Назад</a>

{{> footer}}