{{> header}}

<h2>Введіть своє місто</h2>

<form action="/my-city-weather">
  <input type="text" name="city" placeholder="Наприклад: Kyiv" required>
  <br><br>
  <button type="submit">Переглянути</button>
</form>

<br>
<a href="/">⬅ Назад</a>

{{> footer}}